.landing-page {
  position: relative;
   }
   .desktop-icons{
    margin-top: 30px;
    position:absolute;
    left: 20px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .icon{
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    &__image{
      width: 50px;
      height: 50px;
     }
    &__text{
      color: white;
      margin-top: 2px;
      font-size: 16px;
      text-align: center;
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
  
    }
    .modal-content {
      margin: auto;
      max-width: 600px;
      height: 500px;
      padding: 10px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
    }
    
    .close{
      color: #aaaa;
      font-size: 28px;
      font-weight: bold;
      float: right;
    }
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-header {
      border-bottom:1px solid #080808 ;
      color:black;
    }
   
    .modal-body {
      height: 320px;
      padding: 2px 16px;}
    
    .modal-footer {
      color:rgb(77, 185, 244);
      border-top: 1px solid #080808 ;
    }
    
  }